.popup__input-error {    
    min-height: 12px;
    padding: 0;
    margin: 5px 0 13px;    
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    transition: opacity 0.5s ease;
}