.profile__info {
    margin: 0 24px;
    flex-grow: 1;
    max-width: calc(100% - 314px);
}

@media screen and (max-width: 640px){
    .profile__info {
        text-align: center;
        max-width: 100%;
    }
}