.elements__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    grid-gap: 18px;
    list-style-type: none;
  
  }
  
  @media screen and (max-width: 1024px){
    .elements__list {
      padding: 0 44px;
    }
  }
  
  @media screen and (max-width: 768px){
    .elements__list {
      padding: 0 32px;
      grid-template-columns: repeat(2, 1fr);   
    
    }
  }
  
  @media screen and (max-width: 640px){
    .elements__list {      
      grid-template-columns: repeat(1, 1fr);   
        grid-gap: 20px;
    }
  }
  
  @media screen and (max-width: 425px){
    .elements__list {
      padding: 0 19px;
    }
  }